@tailwind base;
@tailwind components;
@tailwind utilities;

// Main breakpoints
$mobile-breakpoint: 480px;
$tablet-breakpoint: 768px;
$desktop-breakpoint: 992px;
$large-desktop-breakpoint: 1200px;
$huge-desktop-breakpoint: 1600px;

// google fonts
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

@import './animate.min.scss';
@import './general.scss';
@import './typography.scss';
@import './header.scss';
@import './simpleSwitchButton.scss';
@import './flipCard.scss';
@import './card.scss';
@import './progressBar.scss';
@import './hero.scss';
@import './skillsBlock.scss';
@import './ResumeBlock.scss';
