.skills-block {

  .skill {
    font-size: 1.2rem;

    &:not(:first-child) {
      margin-top: 20px;
    }

    &:last-child {
      @media screen and (max-width: $tablet-breakpoint) {
        margin-bottom: 20px;
      }
    }
  }
}
